@model IEnumerable<Gapura.BLL.Models.RequestHeader>

@{
    ViewBag.Title = "List of Request Items";
}

<div class="row-fluid sortable">
    <div class="box span12" style="margin-left: 0px">
        <div class="box-header">
            <h2><i class="icon-table"></i><span class="break"></span>List of Request Item</h2>
            <div class="box-icon">
                <a href="@Url.Action("Create", "RequestHeader")">
                    <i class="halflings-icon plus"></i><span class="hidden-tablet"></span>
                    Add New Request
                </a>
            </div>
        </div>
        <div class="box-content">
            <div style="width: inherit; margin-left: 30px;">
                <table id="myTable" class="compact stripe hover order-column responsive" @*cellspacing="0"*@ width="100%">
                    <thead>
                        <tr>
                            <th>-</th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DepartemenID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequiredDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalRequest)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReffNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestTypeID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MgrID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GAMgrID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GMID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CurrencyID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AssetsTypeID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Remarks)
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Request/IndexRequest.js"></script>

<style>
    th {
        background-color: #cdcdcd !important;
        border: dotted 1px;
    }

    td {
        border: dotted 1px;
    }
</style>
@Styles.Render("~/Content/dataTables")