@if (Request.IsAuthenticated)
{
    <text>
    @*Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!*@
    <ul>
        <li><a href="@Url.Action("Manage", "Account")"><i class="halflings-icon user"></i>Profile</a></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="halflings-icon off"></i>Log Off
                </a>
            }
        </li>
    </ul>
    </text>
}
else
{
    <ul>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li><a href="@Url.Action("Login", "Account")"><i class="halflings-icon user"></i>Login</a></li>
    </ul>
}